:root {
  --black: #040f0f;
  --purple: #9d6381;
  --liteBlue: #EDF6F9;
  --litegreen: #83c5be;
  --green: #006d77
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav styling  */

.nav-row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--black);
  /* position: sticky; */
  top: 0;
  /* z-index: 100; */
}

.pageTitle {
  flex-wrap: wrap;
  padding-top: 8px;
  padding-left: 40px;
  letter-spacing: 2px;
  padding: 0px;
}

.iconPic {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 40px;
  border-radius: 50%;
  max-width: 50px;
  flex-wrap: wrap;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS & SMALLER */
@media screen and (max-width: 980px) {

  /* this will be applied to any screen smaller than 980px */
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  h2 {
    margin: 0;
  }

  .dynamic-flex {
    width: 50%;
    margin: auto;
    justify-content: center;
  }

  .dynamic-nav {
    width: 100%;
    padding-top: 5px;
  }

  .nav-items {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .navActive {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  nav {
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
  }

  .dashboard {
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    padding: 0px;
  }

  .portfolio-pic {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .gallery-pics {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
  }

  .single-photo {
    width: 90%;
    margin: auto;
  }

  .img-container {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }

  .ex-heading,
  .ed-heading {
    width: 90%;
    margin: auto;
  }

  /* switched to hamburger nav */
  .hamburger {
    display: flex;
    margin: auto;
    z-index: 10;
  }

  .profile-pic {
    width: 50%;
    margin-left: 25%;
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  /* this will be applied on any screen between 768px and 575px */
  .heading {
    max-width: 50%;
  }

  .center {
    width: 90%;
  }

  .text-field {
    width: 90%;
  }

  #contact-form {
    padding-top: 15%;
  }

  .footer-container {
    width: 50%;
  }

  footer {
    position: relative;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  /* this will be applied on any screen smaller than 575px */
  body {
    position: relative;
  }

  .main {
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-left: 15%;
    margin-top: 20px;
    text-align: center;
    flex-wrap: wrap;
  }

  .title {
    padding: 0px;
  }

  .page-title-text {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .duties {
    max-width: 80%;
  }

  .gh-buttons {
    width: 40%;
    margin-left: 30%;
  }

  footer p {
    font-size: 2vw;
  }

  .footer-container {
    width: 60%;
  }

  .about-me {
    width: 75%;
  }

  .heading,
  .ed-heading {
    max-width: 90%;
    padding: 10px;
    margin: auto;
  }

  .msu,
  .umd {
    width: 100%;
    background-color: var(--secondary);
    color: white;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .msu h5,
  .umd h5 {
    background-color: white;
    color: var(--secondary);
  }

  h5 {
    padding: 3px;
  }

  .msu .duties,
  .umd .duties {
    padding-right: 0px;
  }

  .profile-pic {
    width: 90%;
    margin-left: 3%;
  }

}